@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IQueryable<QuoteInfo>

<style>
    table, th, td {
        padding: 15px;
        align-content: center;
    }
    /*BOOTSTRAP #1 Adding in alternating colors to differentiate rows */
    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }
</style>

<!--Create a table that will display the quote information-->
<table style="width: 100%; height:100%;">
    <tr>
        <th colspan="2">Quote</th>
        <th>Author/Speaker</th>
        <th>Date</th>
        <th>Subject</th>
        <th>Citation</th>
        <th>Edit/Delete</th>
    </tr>
    <!--Iterate through the model do display quotes and their associated infomration-->
    @foreach (var x in Model)
    {

        <tr>
            <td colspan="2">@x.Quote</td>
            <td style="width:10%">@x.AuthorSpeaker</td>
            <td style="width:10%">@x.Date.ToString("MM-dd-yyyy") </td>
            <td style="width:10%">@x.Subject </td>
            <td style="width:10%">@x.Citation</td>
            <td class="text-center" style="width:10%">
                <!--Form to Delete quote-->
                <form>
                    <input value="@x.QuoteID" type="hidden" name="id" />
                    <input type="submit" asp-action="Delete" value="Delete" class="btn btn-primary" />
                </form>
                <!--Form to update quote-->
                <form>
                    <input value="@x.QuoteID" type="hidden" name="id" />
                    <input type="submit" asp-action="Update" value="Update" class="btn btn-primary" />
                </form>

            </td>
        </tr>
    }
</table>